body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #EDE9E2;
    margin: 0;
}
nav{
    text-align: center;
}
nav>a{
    background-color: #EDE9E2;
    color: black;
    text-decoration: none;
    padding: .5rem 2rem .5rem 2rem;
    margin: 2rem .5rem 2rem .5rem;
    display: inline-block;
}
header{
    background-color: #0D1732;
    min-height: 9.5rem;
    margin: 0;
    padding: 0;
}
header .logo{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: .25rem;
}
main>img{
    max-width: 100%;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}
h2{
    font-style: italic;
    font-weight:lighter;
    font-size: 150%;
    margin-bottom: .25rem;
}
h3{
    font-style: italic;
    font-weight:lighter;
    font-size: 150%;
    margin-bottom: .25rem;
}
main>p{
    font-size:90%;
    line-height: 128%;
    margin-bottom: -1%;
}
.start{
    margin-top: .5rem;
}
.end{
    margin-bottom: 3rem;
}
main{
    margin: 1.75rem;
}
.gallery-header{
    padding-bottom: 1rem;
}
footer{
    background-color: #280705;
    text-align: center;
    text-decoration: none;
    color: #EDE9E2;
    margin: 0;
    min-height: 10rem;
}
footer>h4{
    font-size: 160%;
    margin-bottom: .2rem;
    padding-top: 1.5rem;
}
footer a{
    text-decoration: none;
    color: #EDE9E2;
    font-weight: lighter;
}
footer p{
    margin-bottom: -.75rem;
}
img{
    max-width: 100%;
}
@media (min-width: 800px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .logo{
        width: 300px;
        display: inline-block;
        margin-left: 1rem;
        margin-right: auto;
        padding-top: .75rem;
        padding-bottom: .25rem;
    }
    nav{
        display: inline-block;
        justify-content: flex-end;
        margin-right: 1.75rem;
    }
    h2{
        margin-top: 2.5rem;
    }
    .about{
        display:flex;
        gap:2rem;
        align-items:center;
        justify-content:flex-end;
    }
    .about-photo{
        max-width: 50%;
        align-items: flex-start;
    }
    .gallery-images{
        display: grid;
        gap: 1rem;
        grid-template-columns: 25% 8% 17% 5% 11% 9%;
    }
    .gallery-images img:first-child{
        grid-column: 1/3;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(2){
        grid-column: 3/6;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(3){
        grid-column: 6/9;
        height: 100%;
        width: auto;
        
    }
    .gallery-images img:nth-child(4){
        grid-column: 1/3;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(5){
        grid-column: 3/5;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(6){
        grid-column: 5/7;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(7){
        grid-column: 7/9;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(8){
        grid-column: 1/4;
        height: 100%;
        width: auto;
    }
    .gallery-images img:nth-child(9){
        grid-column: 4/9;
        height: 100%;
        width: auto;
    }
    footer p{
        display: inline-block;
        margin: 1rem 1rem;
    }
    footer h4{
        padding-top: 2.75rem;
    }
}